.heading2{
    /* border: 3px solid yellow; */
    font-size: 1rem;
    grid-area: 4/4/8/8;
    text-align: center;
    display: grid;
    align-items: center;
    color: rgb(83, 83, 83);
}   

.form{
    border: 3px dashed black;
    /* opacity: 0; */
    grid-area:6/2/16/20;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background: rgb(208, 208, 208);
}

.input{
    /* border: 3px dashed black; */
    opacity: 0;
    grid-area: 1/1/11/11;
    cursor: pointer;
}

.submitBtn{
    background: linear-gradient(#4CAF50, rgb(45, 104, 48));
    grid-area: 9/5/10/7;
    position: relative;
    z-index: 2;
}

.files-to-upload{
    /* border: 2px solid blue; */
    grid-area:6/2/16/20;
    /* background: linear-gradient(#aaafbb,#868b91); */
    background: rgb(225, 225, 225);
  
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}
.file-to-upload-inner-wrapper{
    /* border: 2px solid green; */
    padding-top: 3rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-row: 1/9;
}
.file-to-upload-inner-wrapper::-webkit-scrollbar {
    display: none;
}
.files-to-upload__file{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: rgb(86, 86, 86);
    text-shadow: 5px 5px 8px;
}

