.progress-bar-wrapper{
    /* background: rgb(0, 47, 255); */
    border: 1px solid grey;
    grid-area: 18/2/19/20;
    display: grid;
    position: relative;
    z-index: 2;
}
.progress-bar{
  background: blue;
  height: 100%;
}